<!DOCTYPE html>
<html>
  <head>
    <title>Delivery Tracker 1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Display flash notices/alerts here -->
    <% if notice.present? %>
      <p style="color: green;"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
      <p style="color: red;"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
